services:
  market:
    build:
      context: .
      dockerfile: Market/Dockerfile
    ports:
      - "8081:8080"
    volumes:
      - ./Market:/src/Market
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=db;Database=MarketDb;User ID=sa;Password=${SA_PASSWORD};TrustServerCertificate=True
      - Seed__AdminEmail=${SEED_ADMIN_EMAIL}
      - Seed__AdminPassword=${SEED_ADMIN_PASSWORD}
      - DOTNET_USE_POLLING_FILE_WATCHER=1
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${SA_PASSWORD}"
    ports:
      - "1434:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8082:8080"

volumes:
  mssql_data:
