
<!-- STRONA POLITYKI PRYWATNOŚCI -->

<h1>@ViewData["Title"] Polityka Prywatności  </h1>



<p>Strona przedstawia poglądowy wygląd oraz funkcjonalności mozliwości strony. Wszystkie prawa zastrzezone </p>